{{ $backlinks := slice }}
{{ $re := $.File.BaseFileName }}
{{ range .Site.AllPages }}
   {{ if and (findRE $re .RawContent) (not (eq $re .File.BaseFileName)) }}
      {{ $backlinks = $backlinks | append . }}
   {{ end }}
{{ end }}

<hr>
{{ if gt (len $backlinks) 0 }}
  <div class="bl-section">
    <h4>Links to this note</h4>
    <div class="backlinks">
      <ul>
       {{ range $backlinks }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
       {{ end }}
     </ul>
    </div>
  </div>
{{ else  }}
  <div class="bl-section">
    <h4>No notes link to this note.</h4>
  </div>
{{ end }}

<hr>

{{ if .Content }}

{{ $links := slice }}
{{ range findRE "<a href=\"[^\"|\\\"]*\"" .Content }}
  {{ if or (strings.Contains . "http://") (strings.Contains . "https://") }}
    {{ $links = $links | append . }}                         
  {{ end }}
{{ end }}

{{ if gt (len $links) 0 }}
<h4>Resources</h4>
<ul>
    {{- range $link := $links -}}
      {{ if not (strings.Contains $link "../") }}
        {{ $link := (strings.TrimPrefix "<a href=\"" $link) }}
        {{ $link := strings.TrimSuffix "\"" $link }}
        <li><a href="{{ $link }}">{{ $link }}</a></li>
      {{ end }}
    {{- end -}}
</ul>
{{ else }}
<div class="bl-section">
<h4>This note doesn't link to external resources.</h4>
</div>
{{ end }}
{{ end }}
